<!DOCTYPE html>
<title>Milestones</title>
<script src='/js/angular/app.js' type='text/javascript'></script>
<script src='/js/angular/controllers/goalController.js' type='text/javascript'></script>

<body ng-app="goalApp">
    <header class="site">
        <div>
            <h1>SimplyPlan</h1>
        </div>  
    </header>
    <section class="milestones" ng-controller="goalController">
        <div class="newGoal" ng-init="edit = false" ng-repeat="goal in goals">
            <div class="milestoneWrapper" ng-show="!edit">
                <img class="deleteMilestone" src="/images/production_files/minus.png" alt="delete milestone" height="42" width="42" ng-click="deleteMilestone(goal)">
                <img class="deleteMilestone" src="/images/production_files/edit.png" alt="edit milestone" height="42" width="42" ng-click="edit=!edit">
                <div class="milestone" >{{goal.goalName}}</div>                
            </div>
            <div class="taskWrapper" ng-show="!edit" >
                <div class="taskBundle" ng-repeat="task in tasks | filter:goal.id">
                    <div ng-init="editTask=false" ng-show="!editTask">
                        <img class="deleteTask" src="/images/production_files/minus.png" alt="delete task" height="21" width="21" ng-click="deleteTask(task)">
                        <img class="deleteTask" src="/images/production_files/edit.png" alt="delete task" height="21" width="21" ng-click="editTask=!editTask">
                        <div class="task">{{task.taskName}}</div>                        
                    </div>
                    <div ng-show="editTask">
                        <img class="deleteTask" src="/images/production_files/ok.png" alt="submit task" height="21" width="21" ng-click="updateTask(task, updatedTask)">
                        <input class="addTask" ng-model="updatedTask"></input>
                    </div>
                    <div class="clearRight"></div>
                </div>
                <div class="addTask">
                    <img class="addTaskButton" src="/images/production_files/add.png" alt="add task" height="21" width="21" ng-click="addTask=!addTask" ng-init="addTask=false" ng-show="!addTask">
                    <div ng-show="addTask">
                        <input class="addTask" ng-model="newTask"></input>
                        <div class="button" ng-click="submitTask(newTask,goal);addTask=!addTask">Add Task</div>
                    </div>
                </div>

            </div>
            <div ng-show="edit">
                <img class="deleteMilestone" src="/images/production_files/ok.png" alt="submit milestone" height="42" width="42" ng-click="updateMilestone(goal, updatedMilestone)">
                <input class="addMilestone" ng-model="updatedMilestone"></input>
            </div>
            <div class="clear"></div>
        </div>
        <div class="add">
            <img class="addMilestoneButton" src="/images/production_files/add.png" alt="add milestone" height="42" width="42" ng-click="add=!add" ng-init="add=false" ng-show="!add">
            <div ng-show="add">
                <input class="addMilestone" ng-model="newMilestone"></input>
                <div class="button" ng-click="submitMilestone(newMilestone);add=!add">Add Milestone</div>
            </div>
        </div>
    </section>

</body>
