.site, .milestones {
  background: #29abe2;
  margin: auto;
  width: 50%;
  display: block; }
  .site img, .milestones img {
    margin: auto;
    display: block; }

.input_field {
  background: white;
  display: block; }

.input_display, .milestone, .task {
  background: #29abe2;
  display: block;
  outline: black solid thin; }

.clear {
  clear: both; }

header {
  height: 50px;
  padding: 0px 25px; }
  header h1 {
    color: white;
    width: 50%;
    margin: auto;
    text-align: center; }

.button {
  background: #29abe2;
  color: white;
  font-size: 2em;
  text-align: center;
  width: auto;
  display: inline-block;
  padding: 1em;
  text-decoration: none; }
  .button:hover {
    background: #146f95;
    cursor: pointer; }

.landing {
  color: #29abe2;
  width: 90%;
  margin: auto;
  font-size: 10em;
  text-align: center;
  padding-top: 120px; }

.start {
  width: 90%;
  margin: auto;
  background: white; }

.milestones {
  height: 100%;
  padding: 25px; }

.milestone {
  height: 75px;
  width: 200px;
  margin-bottom: 25px;
  float: left; }

.task {
  height: 25px;
  width: 300px;
  float: right;
  margin-bottom: 25px; }

.addMilestone {
  height: 7em;
  width: 200px;
  margin-bottom: 25px;
  display: inline-block;
  float: left; }

.add input {
  display: inline-block; }
