$primary_color: 	#29ABE2;
$primary_dark:		#146f95;
$primary_light:		#6cc5eb;
$secondary_color: 	#e26029;
$highlight_color:	white;
$site_background: white;
$form_background: white;
$completed_color: yellow;
$uncompleted_color: red;
html{
	background:white;
}
h1{
	font-size:6em;
}
.week{
	font-size: 3em;
}
.milestone{
	font-size:2em;
}
.task{
	font-size:1em;
}
.milestone-task-container{
	background:$primary_light;
}
.completed{
	background:$primary_dark;
}
.uncompleted{
	background:$primary_light;
}
.addNew{
	color:$highlight_color;
}
.camo{
	color:$primary_light;
}