html {
  background: white; }

h1 {
  font-size: 6em; }

.week {
  font-size: 3em; }

.milestone {
  font-size: 2em; }

.task {
  font-size: 1em; }

.milestone-task-container {
  background: #6cc5eb; }

.completed {
  background: #146f95; }

.uncompleted {
  background: #6cc5eb; }

.addNew {
  color: white; }

.camo {
  color: #6cc5eb; }
